In [8]:
# Dependencies
import pandas as pd
import numpy as np

In [9]:
# Data Files
scoring_summary_path = "Resources/Scoring_Summary.csv"

In [10]:
# Read in the Season_Stats file
scoring_summary_complete_df = pd.read_csv(scoring_summary_path)
scoring_summary_complete_df

    Year    GM     G     B    Tot       Ave.    GK%
0     2023    18   449   404    853  47.388889  52.64
1     2022   207  5003  4378   9381  45.318841  53.33
2     2021   207  4778  4346   9124  44.077295  52.37
3     2020   162  2836  2615   5451  33.648148  52.03
4     2019   207  4795  4424   9219  44.536232  52.01
5     2018   207  4969  4581   9550  46.135266  52.03
6     2017   207  5355  4757  10112  48.850242  52.96
7     2016   207  5336  4694  10030  48.454106  53.20
8     2015   206  5176  4532   9708  47.126214  53.32
9     2014   207  5208  4721   9929  47.966184  52.45
10    2013   207  5561  4885  10446  50.463768  53.24
11    2012   207  5518  4923  10441  50.439614  52.85
12    2011   196  5285  4668   9953  50.780612  53.10
13    2010   186  4856  4405   9261  49.790323  52.43
14    2009   185  4913  4207   9120  49.297297  53.87
15    2008   185  5238  4609   9847  53.227027  53.19
16    2007   185  5107  4646   9753  52.718919  52.36
17    2006   185  4959  4488   9447  51.064865  52.49
18    2005   185  5118  4288   9406  50.843243  54.41
19    2004   185  5012  4261   9273  50.124324  54.05
20    2003   185  5101  4265   9366  50.627027  54.46
21    2002   185  5121  4333   9454  51.102703  54.17
22    2001   185  5258  4454   9712  52.497297  54.14
23    2000   185  5626  4559  10185  55.054054  55.24
24    1999   185  5143  4504   9647  52.145946  53.31
25    1998   185  5012  4492   9504  51.372973  52.74
26    1997   185  4830  4457   9287  50.200000  52.01
27    1996   185  5073  4410   9483  51.259459  53.50
28    1995   185  5055  4546   9601  51.897297  52.65
29    1994   174  4761  4362   9123  52.431034  52.19
30    1993   157  4782  4198   8980  57.197452  53.25
31    1992   172  5180  4634   9814  57.058140  52.78
32    1991   172  5090  4687   9777  56.843023  52.06
33    1990   161  4614  4352   8966  55.689441  51.46

In [11]:
#check datatypes of each column
print(scoring_summary_complete_df.dtypes)

Year        int64
GM          int64
G           int64
B           int64
Tot         int64
Ave.      float64
GK%       float64
dtype: object

In [12]:
# Strip the spaces after the column names
scoring_summary_complete_df.columns = [x.strip() for x in scoring_summary_complete_df.columns]
scoring_summary_complete_df

    Year   GM     G     B    Tot       Ave.    GK%
0   2023   18   449   404    853  47.388889  52.64
1   2022  207  5003  4378   9381  45.318841  53.33
2   2021  207  4778  4346   9124  44.077295  52.37
3   2020  162  2836  2615   5451  33.648148  52.03
4   2019  207  4795  4424   9219  44.536232  52.01
5   2018  207  4969  4581   9550  46.135266  52.03
6   2017  207  5355  4757  10112  48.850242  52.96
7   2016  207  5336  4694  10030  48.454106  53.20
8   2015  206  5176  4532   9708  47.126214  53.32
9   2014  207  5208  4721   9929  47.966184  52.45
10  2013  207  5561  4885  10446  50.463768  53.24
11  2012  207  5518  4923  10441  50.439614  52.85
12  2011  196  5285  4668   9953  50.780612  53.10
13  2010  186  4856  4405   9261  49.790323  52.43
14  2009  185  4913  4207   9120  49.297297  53.87
15  2008  185  5238  4609   9847  53.227027  53.19
16  2007  185  5107  4646   9753  52.718919  52.36
17  2006  185  4959  4488   9447  51.064865  52.49
18  2005  185  5118  4288   9406  50.843243  54.41
19  2004  185  5012  4261   9273  50.124324  54.05
20  2003  185  5101  4265   9366  50.627027  54.46
21  2002  185  5121  4333   9454  51.102703  54.17
22  2001  185  5258  4454   9712  52.497297  54.14
23  2000  185  5626  4559  10185  55.054054  55.24
24  1999  185  5143  4504   9647  52.145946  53.31
25  1998  185  5012  4492   9504  51.372973  52.74
26  1997  185  4830  4457   9287  50.200000  52.01
27  1996  185  5073  4410   9483  51.259459  53.50
28  1995  185  5055  4546   9601  51.897297  52.65
29  1994  174  4761  4362   9123  52.431034  52.19
30  1993  157  4782  4198   8980  57.197452  53.25
31  1992  172  5180  4634   9814  57.058140  52.78
32  1991  172  5090  4687   9777  56.843023  52.06
33  1990  161  4614  4352   8966  55.689441  51.46

In [13]:
# Reame column headers
scoring_summary_renamed_col = scoring_summary_complete_df.rename(columns={"Year":"Season", "GM":"Games_Played", "G":"Goals", "B":"Behinds", "Tot":"Scoring_Shots", "Ave.":"Scoring_Shots_per_Game", "GK%":"Goal_Kicking_Accuracy"})
scoring_summary_renamed_col

,Season,Games_Played,Goals,Behinds,Scoring_Shots,Scoring_Shots_per_Game,Goal_Kicking_Accuracy
0,2023,18,449,404,853,47.388889,52.64
1,2022,207,5003,4378,9381,45.318841,53.33
2,2021,207,4778,4346,9124,44.077295,52.37
3,2020,162,2836,2615,5451,33.648148,52.03
4,2019,207,4795,4424,9219,44.536232,52.01
5,2018,207,4969,4581,9550,46.135266,52.03
6,2017,207,5355,4757,10112,48.850242,52.96
7,2016,207,5336,4694,10030,48.454106,53.20
8,2015,206,5176,4532,9708,47.126214,53.32
9,2014,207,5208,4721,9929,47.966184,52.45
10,2013,207,5561,4885,10446,50.463768,53.24
11,2012,207,5518,4923,10441,50.439614,52.85
12,2011,196,5285,4668,9953,50.780612,53.10
13,2010,186,4856,4405,9261,49.790323,52.43
14,2009,185,4913,4207,9120,49.297297,53.87
15,2008,185,5238,4609,9847,53.227027,53.19
16,2007,185,5107,4646,9753,52.718919,52.36
17,2006,185,4959,4488,9447,51.064865,52.49
18,2005,185,5118,4288,9406,50.843243,54.41
19,2004,185,5012,4261,9273,50.124324,54.05
20,2003,185,5101,4265,9366,50.627027,54.46
21,2002,185,5121,4333,9454,51.102703,54.17
22,2001,185,5258,4454,9712,52.497297,54.14
23,2000,185,5626,4559,10185,55.054054,55.24
24,1999,185,5143,4504,9647,52.145946,53.31
25,1998,185,5012,4492,9504,51.372973,52.74
26,1997,185,4830,4457,9287,50.200000,52.01
27,1996,185,5073,4410,9483,51.259459,53.50
28,1995,185,5055,4546,9601,51.897297,52.65
29,1994,174,4761,4362,9123,52.431034,52.19
30,1993,157,4782,4198,8980,57.197452,53.25
31,1992,172,5180,4634,9814,57.058140,52.78
32,1991,172,5090,4687,9777,56.843023,52.06
33,1990,161,4614,4352,8966,55.689441,51.46

In [14]:
# Create DF of just the required columns
goals_df = scoring_summary_renamed_col[["Season","Games_Played","Goals"]]
goals_df

    Season  Games_Played  Goals
0     2023            18    449
1     2022           207   5003
2     2021           207   4778
3     2020           162   2836
4     2019           207   4795
5     2018           207   4969
6     2017           207   5355
7     2016           207   5336
8     2015           206   5176
9     2014           207   5208
10    2013           207   5561
11    2012           207   5518
12    2011           196   5285
13    2010           186   4856
14    2009           185   4913
15    2008           185   5238
16    2007           185   5107
17    2006           185   4959
18    2005           185   5118
19    2004           185   5012
20    2003           185   5101
21    2002           185   5121
22    2001           185   5258
23    2000           185   5626
24    1999           185   5143
25    1998           185   5012
26    1997           185   4830
27    1996           185   5073
28    1995           185   5055
29    1994           174   4761
30    1993           157   4782
31    1992           172   5180
32    1991           172   5090
33    1990           161   4614

In [15]:
goals_df["Ave_goals"] = goals_df.Goals / goals_df.Games_Played

c:\Users\sabac\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
goals_df

    Season  Games_Played  Goals  Ave_goals
0     2023            18    449  24.944444
1     2022           207   5003  24.169082
2     2021           207   4778  23.082126
3     2020           162   2836  17.506173
4     2019           207   4795  23.164251
5     2018           207   4969  24.004831
6     2017           207   5355  25.869565
7     2016           207   5336  25.777778
8     2015           206   5176  25.126214
9     2014           207   5208  25.159420
10    2013           207   5561  26.864734
11    2012           207   5518  26.657005
12    2011           196   5285  26.964286
13    2010           186   4856  26.107527
14    2009           185   4913  26.556757
15    2008           185   5238  28.313514
16    2007           185   5107  27.605405
17    2006           185   4959  26.805405
18    2005           185   5118  27.664865
19    2004           185   5012  27.091892
20    2003           185   5101  27.572973
21    2002           185   5121  27.681081
22    2001           185   5258  28.421622
23    2000           185   5626  30.410811
24    1999           185   5143  27.800000
25    1998           185   5012  27.091892
26    1997           185   4830  26.108108
27    1996           185   5073  27.421622
28    1995           185   5055  27.324324
29    1994           174   4761  27.362069
30    1993           157   4782  30.458599
31    1992           172   5180  30.116279
32    1991           172   5090  29.593023
33    1990           161   4614  28.658385