1. Has the game become a higher disposal(faster or slower moving) game since the beginning of the AFL?

In [43]:
# Dependencies
import pandas as pd
import numpy as np

In [44]:
# Data Files
season_stats_path = "Resources/Season_Stats.csv"

In [45]:
# Read in the Season_Stats file
season_stats_complete_df = pd.read_csv(season_stats_path)
season_stats_complete_df

,YEAR,KI,MK,HB,DI,GL,BH,HO,TK,FF,BR,TEAMS
0,2022,89443,37978,59233,148676,5003,3487,14835,24148,8362,1188,18
1,2021,90193,39162,61026,151219,4778,3511,14234,23752,7903,1188,18
2,2020,56591,22721,39236,95827,2836,2064,9586,16365,5191,918,18
3,2019,90750,37808,62728,153478,4795,3563,15949,25899,7792,1188,18
4,2018,87955,37288,66768,154723,4969,3742,16104,26852,8500,1188,18
5,2017,87375,38612,70851,158226,5355,3922,16508,28364,7788,1188,18
6,2016,85035,36658,70400,155435,5336,3784,16425,28902,7775,1188,18
7,2015,84034,37184,65790,149824,5176,3536,17707,27039,7474,1182,18
8,2014,84975,36432,65170,150145,5208,3698,16952,27463,6913,1188,18
9,2013,85698,36554,62772,148470,5561,3907,16351,26070,7478,1188,18
10,2012,85282,36468,62509,147791,5518,3955,16439,26356,7838,1188,18
11,2011,80390,34067,60526,140916,5285,3796,15425,27048,7904,1122,17
12,2010,74764,35120,62709,137473,4856,3567,13417,25159,7165,1056,16
13,2009,72835,36039,65523,138358,4913,3515,13251,22970,6610,1056,16
14,2008,74018,38307,57302,131320,5238,3482,11935,19817,7486,1056,16
15,2007,74711,38302,52956,127667,5107,3582,11573,19543,7028,1056,16
16,2006,76610,40305,48809,125419,4959,3535,11154,18181,6161,1056,16
17,2005,70977,33767,43599,114576,5118,3439,11409,16240,6381,1056,16
18,2004,67872,30661,40204,108076,5012,3504,12414,16680,5493,1056,16
19,2003,68920,30508,40000,108920,5101,3546,12091,15870,5620,1056,16
20,2002,68001,29108,40646,108647,5121,3564,11696,15907,5537,1056,16
21,2001,71101,30764,40257,111358,5258,3585,10755,13176,6300,1056,16
22,2000,74404,30760,41114,115518,5626,3705,11136,11801,6624,1056,16
23,1999,71957,28267,39449,111406,5143,3569,11385,9201,6991,1056,16
24,1998,71033,26944,39763,110796,5012,3592,11713,11396,6776,1056,16
25,1997,69858,26234,37787,107645,4830,3664,7438,10530,6593,1056,16
26,1996,69741,26128,39837,109578,5073,3673,7264,11047,7442,1056,16
27,1995,68689,25044,38801,107490,5055,3814,7124,10243,7156,1056,16
28,1994,64529,23042,38200,102729,4761,3637,6767,10077,7526,990,15
29,1993,63050,21485,35236,98286,4782,3552,6151,9319,8297,900,15
30,1992,69705,23833,38005,107710,5180,3907,6952,9451,8734,990,15
31,1991,71454,23477,39655,111109,5090,3995,6355,8055,8184,990,15
32,1990,65573,21705,34845,100418,4614,3758,6110,7768,7985,924,14

In [46]:
#check datatypes of each column
print(season_stats_complete_df.dtypes)

YEAR     int64
KI       int64
MK       int64
HB       int64
DI       int64
GL       int64
BH       int64
HO       int64
TK       int64
FF       int64
BR       int64
TEAMS    int64
dtype: object

In [47]:
# Strip the spaces after the column names
season_stats_complete_df.columns = [x.strip() for x in season_stats_complete_df.columns]
season_stats_complete_df

,YEAR,KI,MK,HB,DI,GL,BH,HO,TK,FF,BR,TEAMS
0,2022,89443,37978,59233,148676,5003,3487,14835,24148,8362,1188,18
1,2021,90193,39162,61026,151219,4778,3511,14234,23752,7903,1188,18
2,2020,56591,22721,39236,95827,2836,2064,9586,16365,5191,918,18
3,2019,90750,37808,62728,153478,4795,3563,15949,25899,7792,1188,18
4,2018,87955,37288,66768,154723,4969,3742,16104,26852,8500,1188,18
5,2017,87375,38612,70851,158226,5355,3922,16508,28364,7788,1188,18
6,2016,85035,36658,70400,155435,5336,3784,16425,28902,7775,1188,18
7,2015,84034,37184,65790,149824,5176,3536,17707,27039,7474,1182,18
8,2014,84975,36432,65170,150145,5208,3698,16952,27463,6913,1188,18
9,2013,85698,36554,62772,148470,5561,3907,16351,26070,7478,1188,18
10,2012,85282,36468,62509,147791,5518,3955,16439,26356,7838,1188,18
11,2011,80390,34067,60526,140916,5285,3796,15425,27048,7904,1122,17
12,2010,74764,35120,62709,137473,4856,3567,13417,25159,7165,1056,16
13,2009,72835,36039,65523,138358,4913,3515,13251,22970,6610,1056,16
14,2008,74018,38307,57302,131320,5238,3482,11935,19817,7486,1056,16
15,2007,74711,38302,52956,127667,5107,3582,11573,19543,7028,1056,16
16,2006,76610,40305,48809,125419,4959,3535,11154,18181,6161,1056,16
17,2005,70977,33767,43599,114576,5118,3439,11409,16240,6381,1056,16
18,2004,67872,30661,40204,108076,5012,3504,12414,16680,5493,1056,16
19,2003,68920,30508,40000,108920,5101,3546,12091,15870,5620,1056,16
20,2002,68001,29108,40646,108647,5121,3564,11696,15907,5537,1056,16
21,2001,71101,30764,40257,111358,5258,3585,10755,13176,6300,1056,16
22,2000,74404,30760,41114,115518,5626,3705,11136,11801,6624,1056,16
23,1999,71957,28267,39449,111406,5143,3569,11385,9201,6991,1056,16
24,1998,71033,26944,39763,110796,5012,3592,11713,11396,6776,1056,16
25,1997,69858,26234,37787,107645,4830,3664,7438,10530,6593,1056,16
26,1996,69741,26128,39837,109578,5073,3673,7264,11047,7442,1056,16
27,1995,68689,25044,38801,107490,5055,3814,7124,10243,7156,1056,16
28,1994,64529,23042,38200,102729,4761,3637,6767,10077,7526,990,15
29,1993,63050,21485,35236,98286,4782,3552,6151,9319,8297,900,15
30,1992,69705,23833,38005,107710,5180,3907,6952,9451,8734,990,15
31,1991,71454,23477,39655,111109,5090,3995,6355,8055,8184,990,15
32,1990,65573,21705,34845,100418,4614,3758,6110,7768,7985,924,14

In [48]:
# Reame column headers
season_stats_renamed_col = season_stats_complete_df.rename(columns={"YEAR":"Season", "KI":"Kicks", "MK":"Marks", "HB":"Handballs", "DI":"Disposals",
                                                "GL":"Goals", "BH":"Behinds", "HO":"Hit_Outs", "TK":"Tackles", "FF":"Free For", "BR":"Brownlow_Votes", "TEAMS":"Teams"})
season_stats_renamed_col

,Season,Kicks,Marks,Handballs,Disposals,Goals,Behinds,Hit_Outs,Tackles,Free For,Brownlow_Votes,Teams
0,2022,89443,37978,59233,148676,5003,3487,14835,24148,8362,1188,18
1,2021,90193,39162,61026,151219,4778,3511,14234,23752,7903,1188,18
2,2020,56591,22721,39236,95827,2836,2064,9586,16365,5191,918,18
3,2019,90750,37808,62728,153478,4795,3563,15949,25899,7792,1188,18
4,2018,87955,37288,66768,154723,4969,3742,16104,26852,8500,1188,18
5,2017,87375,38612,70851,158226,5355,3922,16508,28364,7788,1188,18
6,2016,85035,36658,70400,155435,5336,3784,16425,28902,7775,1188,18
7,2015,84034,37184,65790,149824,5176,3536,17707,27039,7474,1182,18
8,2014,84975,36432,65170,150145,5208,3698,16952,27463,6913,1188,18
9,2013,85698,36554,62772,148470,5561,3907,16351,26070,7478,1188,18
10,2012,85282,36468,62509,147791,5518,3955,16439,26356,7838,1188,18
11,2011,80390,34067,60526,140916,5285,3796,15425,27048,7904,1122,17
12,2010,74764,35120,62709,137473,4856,3567,13417,25159,7165,1056,16
13,2009,72835,36039,65523,138358,4913,3515,13251,22970,6610,1056,16
14,2008,74018,38307,57302,131320,5238,3482,11935,19817,7486,1056,16
15,2007,74711,38302,52956,127667,5107,3582,11573,19543,7028,1056,16
16,2006,76610,40305,48809,125419,4959,3535,11154,18181,6161,1056,16
17,2005,70977,33767,43599,114576,5118,3439,11409,16240,6381,1056,16
18,2004,67872,30661,40204,108076,5012,3504,12414,16680,5493,1056,16
19,2003,68920,30508,40000,108920,5101,3546,12091,15870,5620,1056,16
20,2002,68001,29108,40646,108647,5121,3564,11696,15907,5537,1056,16
21,2001,71101,30764,40257,111358,5258,3585,10755,13176,6300,1056,16
22,2000,74404,30760,41114,115518,5626,3705,11136,11801,6624,1056,16
23,1999,71957,28267,39449,111406,5143,3569,11385,9201,6991,1056,16
24,1998,71033,26944,39763,110796,5012,3592,11713,11396,6776,1056,16
25,1997,69858,26234,37787,107645,4830,3664,7438,10530,6593,1056,16
26,1996,69741,26128,39837,109578,5073,3673,7264,11047,7442,1056,16
27,1995,68689,25044,38801,107490,5055,3814,7124,10243,7156,1056,16
28,1994,64529,23042,38200,102729,4761,3637,6767,10077,7526,990,15
29,1993,63050,21485,35236,98286,4782,3552,6151,9319,8297,900,15
30,1992,69705,23833,38005,107710,5180,3907,6952,9451,8734,990,15
31,1991,71454,23477,39655,111109,5090,3995,6355,8055,8184,990,15
32,1990,65573,21705,34845,100418,4614,3758,6110,7768,7985,924,14

In [49]:
# Create DF of just the required columns
disposals_df = season_stats_renamed_col[["Season","Disposals","Teams"]]
disposals_df

    Season  Disposals  Teams
0     2022     148676     18
1     2021     151219     18
2     2020      95827     18
3     2019     153478     18
4     2018     154723     18
5     2017     158226     18
6     2016     155435     18
7     2015     149824     18
8     2014     150145     18
9     2013     148470     18
10    2012     147791     18
11    2011     140916     17
12    2010     137473     16
13    2009     138358     16
14    2008     131320     16
15    2007     127667     16
16    2006     125419     16
17    2005     114576     16
18    2004     108076     16
19    2003     108920     16
20    2002     108647     16
21    2001     111358     16
22    2000     115518     16
23    1999     111406     16
24    1998     110796     16
25    1997     107645     16
26    1996     109578     16
27    1995     107490     16
28    1994     102729     15
29    1993      98286     15
30    1992     107710     15
31    1991     111109     15
32    1990     100418     14

In [50]:
disposals_df["Ave_disposals"] = disposals_df.Disposals / disposals_df.Teams

c:\Users\sabac\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
disposals_df

    Season  Disposals  Teams  Ave_disposals
0     2022     148676     18    8259.777778
1     2021     151219     18    8401.055556
2     2020      95827     18    5323.722222
3     2019     153478     18    8526.555556
4     2018     154723     18    8595.722222
5     2017     158226     18    8790.333333
6     2016     155435     18    8635.277778
7     2015     149824     18    8323.555556
8     2014     150145     18    8341.388889
9     2013     148470     18    8248.333333
10    2012     147791     18    8210.611111
11    2011     140916     17    8289.176471
12    2010     137473     16    8592.062500
13    2009     138358     16    8647.375000
14    2008     131320     16    8207.500000
15    2007     127667     16    7979.187500
16    2006     125419     16    7838.687500
17    2005     114576     16    7161.000000
18    2004     108076     16    6754.750000
19    2003     108920     16    6807.500000
20    2002     108647     16    6790.437500
21    2001     111358     16    6959.875000
22    2000     115518     16    7219.875000
23    1999     111406     16    6962.875000
24    1998     110796     16    6924.750000
25    1997     107645     16    6727.812500
26    1996     109578     16    6848.625000
27    1995     107490     16    6718.125000
28    1994     102729     15    6848.600000
29    1993      98286     15    6552.400000
30    1992     107710     15    7180.666667
31    1991     111109     15    7407.266667
32    1990     100418     14    7172.714286